* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: 8, 97%, 65%;
    --secondary-color: 0, 0%, 0%;
}

@font-face {
    font-family: 'TulpenOne';
    src: url('../fonts/TulpenOne-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-regular.ttf') format('truetype');
}

body {
    font-family: 'Abel', serif;
    color: var(--secondary-color);
}

header h1,
header p {
    font-family: 'TulpenOne', serif;
    text-align: center;
}

header h1 {
    font-size: 4em;
}

header p {
    font-size: 2em;
    opacity: 0.8;
}

header h1 span:nth-child(2) {
    color: hsl(var(--main-color));
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    max-width: 1200px;
    grid-gap: 3em;
    padding: 1.5em;
    margin: auto;
}

section {
    padding: 1.5em;
    position: relative;
}

section:before,
section:after {
    content: '';
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid hsla(var(--secondary-color), .4);
    clip-path: polygon(
            40px 0,
            calc(100% - 40px) 0,
            calc(100% - 40px) 40px,
            100% 40px,
            100% calc(100% - 40px),
            calc(100% - 40px) calc(100% - 40px),
            calc(100% - 40px) 100%,
            40px 100%,
            40px calc(100% - 40px),
            0 calc(100% - 40px),
            0 40px,
            40px 40px,
            40px 0
    );
    top: 0;
    left: 0;
}

section:before {
    z-index: -2;
}

section:after {
    z-index: -1;
    transform: scale(1.01);
}

@keyframes article-wave {
    0% {
        transform: rotate(0deg) translateY(0px);
    }

    20% {
        transform: rotate(1deg);
    }

    40% {
        transform: translateY(3px);
    }

    60% {
        transform: rotate(0deg) translateY(7px);
    }

    80% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg) translateY(0px);
    }
}

section article {
    margin: 1em;
    /*animation-name: article-wave;*/
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

section article:nth-child(2n+1) {
    animation-delay: 1s;
}

section article:nth-child(3n+2) {
    animation-delay: 2s;
}

section article:nth-child(5n+3) {
    animation-delay: 3s;
}

section > article > h3:first-letter,
section > article > div > p:first-letter {
    text-transform: uppercase;
}

section header {
    height: 75px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

section header div {
    height: 50px;
    width: 200px;
    background-color: hsl(var(--main-color));
    display: flex;
    justify-content: center;
    position: absolute;
}

section header div:before,
section header div:after {
    content: '';
    z-index: -1;
    background-color: hsl(var(--main-color));
    width: 75px;
    height: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 20% 50%, 0% 0%);
    position: absolute;
    bottom: -25px;
    filter: brightness(95%);
}

section header div:before {
    left: -50px;
}

section header div:after {
    transform: rotate(180deg);
    right: -50px;
}

section header div h2 {
    font-family: 'TulpenOne', serif;
    font-size: 2.5em;
    align-items: center;
    display: flex;
}

section header div h2 span {
    filter: invert(100%);
}

section header div h2:before,
section header div h2:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: hsl(var(--secondary-color));
    opacity: 0.4;
    bottom: -25px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
}

section header div h2:before {
    left: 0;
}

section header div h2:after {
    transform: rotate(270deg);
    right: 0;
}

section article div {
    display: flex;
}

section article h3 {
    color: hsl(var(--main-color));
}

section article div span:nth-of-type(1) {
    border-bottom: 0.05em dotted hsl(var(--secondary-color));
    flex-grow: 1;
    margin: 0 0.3em 0.3em 0.3em;
    position: relative;
    opacity: 0.6;
}

section article div span:nth-of-type(2) {
    justify-content: right;
    position: relative;
}

section article div span:nth-of-type(2):before {
    content: '€';
}

section article div span:nth-of-type(2):after {
    content: '.00';
}

/* Shaky expensive dish */

section:nth-of-type(4) article:nth-of-type(7) h3 {
    position: relative;
}

section:nth-of-type(4) article:nth-of-type(7) div {
    position: relative;
    color: hsl(var(--main-color));
}

section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(1) {
    border-color:  hsl(var(--main-color));
}

section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(1):before,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(1):after {
    content: '';
    position: absolute;
    border-bottom: 0.05em dotted hsl(var(--main-color));
    width: 100%;
    height: 0.05em;
    bottom: 0;
}

section:nth-of-type(4) article:nth-of-type(7) h3:before,
section:nth-of-type(4) article:nth-of-type(7) h3:after,
section:nth-of-type(4) article:nth-of-type(7) div p:before,
section:nth-of-type(4) article:nth-of-type(7) div p:after,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(2):before,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(2):after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
}

section:nth-of-type(4) article:nth-of-type(7) h3:before,
section:nth-of-type(4) article:nth-of-type(7) div p:before,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(1):before,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(2):before {
    filter: hue-rotate(292deg);
    z-index: -1;
    /*animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;*/
}

section:nth-of-type(4) article:nth-of-type(7) h3:after,
section:nth-of-type(4) article:nth-of-type(7) div p:after,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(1):after,
section:nth-of-type(4) article:nth-of-type(7) div span:nth-of-type(2):after {
    filter: hue-rotate(172deg);
    z-index: -2;
    /*animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;*/
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 5px);
    }

    40% {
        transform: translate(-5px, -5px);
    }

    60% {
        transform: translate(5px, 5px);
    }

    80% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0);
    }
}