* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color-h: 8;
    --main-color-s: 97%;
    --main-color-l: 65%;
}

@font-face {
    font-family: 'TulpenOne';
    src: url('../fonts/TulpenOne-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-regular.ttf') format('truetype');
}

header > h1,
header > p {
    font-family: 'TulpenOne', serif;
    text-align: center;
}

header > h1 {
    font-size: 4em;
}

header > p {
    font-size: 2em;
}

header > h1 > span:nth-child(2) {
    color: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
}

body {
    font-family: 'Abel', serif;
    color: hsl(var(--main-color-h), var(--main-color-s), 0%);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 3em;
    padding: 1.5em;
}

section {
    padding: 1.5em;
    border: 2px dotted hsla(var(--main-color-h), var(--main-color-s), 0%, .3);
}

/*@keyframes animated-article {*/
/*from {*/
/*transform: translate(0, 0px);*/
/*}*/
/*to {*/
/*transform: translate(0, 15px);*/
/*}*/
/*}*/

section > article {
    margin: 1em;
    animation-name: animated-article;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section > article:nth-child(2n+1) {
    animation-delay: 1s;
}

section > article:nth-child(3n+2) {
    animation-delay: 2s;
}

section > article:nth-child(5n+3) {
    animation-delay: 3s;
}

section > article > h3 {
    color: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
}

section > article > h3:first-letter,
section > article > div > p:first-letter {
    text-transform: uppercase;
}

section > header {
    height: 75px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

section > header > div {
    height: 50px;
    width: 200px;
    background-color: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
    display: flex;
    justify-content: center;
    position: absolute;
}

section > header > div:before,
section > header > div:after {
    content: '';
    z-index: -1;
    background-color: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
    width: 75px;
    height: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 20% 50%, 0% 0%);
    position: absolute;
    bottom: -25px;
    filter: brightness(95%);
}

section > header > div:before {
    left: -50px;
}

section > header > div:after {
    transform: rotate(180deg);
    right: -50px;
}

section > header > div > h2 {
    font-family: 'TulpenOne', serif;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    height: 100%;
    color: hsl(var(--main-color-h), var(--main-color-s), 100%);
}

section > header > div > h2:before,
section > header > div > h2:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: hsla(var(--main-color-h), var(--main-color-s), 0%, 0.5);
    bottom: -25px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
}

section > header > div > h2:before {
    left: 0;
}

section > header > div > h2:after {
    transform: rotate(270deg);
    right: 0;
}

section > article > div {
    display: flex;
}

section > article > div > :nth-child(2) {
    border-bottom: 0.05em dotted hsl(var(--main-color-h), var(--main-color-s), 0%);
    flex-grow: 1;
    margin: 0 0.3em 0.3em 0.3em;
}

section > article > div > :nth-child(3) {
    justify-content: right;
}

section > article > div > :nth-child(3):before {
    content: '\20AC';
}

section > article > div > :nth-child(3):after {
    content: '.00';
}