* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #333333;
    --secondary-color: #d9d9d9;
}

@font-face {
    font-family: 'TulpenOne';
    src: url('../fonts/TulpenOne-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-regular.ttf') format('truetype');
}

header > h1, header > p {
    /*background-color: red;*/
    font-family: 'TulpenOne', serif;
    text-align: center;
}

header > h1 {
    font-size: 4em;
}

header > p {
    font-size: 2em;
}

body {
    color: var(--secondary-color);
    background-color: var(--main-color);
    font-family: 'Abel', serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

section {
    /*background-color: blue;*/
    padding: 25px;
}

section > article {
    /*background-color: green;*/
    margin: 10px;
}

section > header > h2 {
    /*background-color: purple;*/
    font-family: 'TulpenOne', serif;
    font-size: 2.5em;
    text-align: center;
}

section > article > div {
    display: flex;
}

section > article > div > :nth-child(2) {
    border-bottom: 1px dotted var(--secondary-color);
    flex-grow: 1;
    margin: 0 5px 5px 5px;
}

section > article > div > :nth-child(3) {
    justify-content: right;
}

section > article > div > :nth-child(3):before {
    content: '\20AC';
}

section > article > div > :nth-child(3):after {
    content: '.00';
}